<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename="bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="custom.css") }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class= "row">
            <div class="col-sm-6">
                <a href="{{ url_for('register') }}" class="btn btn-info">Register</a>
            </div>
            <div class="col-sm-6">
                <a href="{{ url_for('login') }}" class="btn btn-info">Login</a>
            </div>
        </div>
    </div>

</body>
</html>
