<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Employee</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='custom.css') }}">
    <!--type="text/css" href="{{ url_for('static',filename='style.css') }}"-->
</head>
<body>
    <div class="container">
        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data action="{{ url_for('show_attendence') }}">
            <div class="row">
                <div class="col-xs-6">
                    <input type=file name=file accept=".csv">
                </div>
                <div class="col-xs-6">
                    <input type=submit value="Show Attendance" class="button">
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-xs-12" style="padding-top:30px">
                <table border="1px" width="100%">
                <tr class="head">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attendance</th>
                </tr>
                {% for row in dataset %}
                <tr class="data">
                    {% for items in row %}
                    <td>{{ items }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </div>

        </div>
    </div>


</body>
</html>
